.fa-location-dot, .fa-mobile-screen-button, .fa-list-ul, .fa-store {
    margin-right: 20px;
}

.fa-mobile-screen-button, .fa-list-ul, .fa-store {
    margin-left: 35px;
    color: #7E7E7E;
}

.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    background-color: #9356DC;
    border-radius: 50%;
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
}

.img-heart {
    width: 21px;
    height: 21px;
    margin-right: 15px;

    path {
        stroke: #101010;
        stroke-width: 1;
        transform-origin: bottom;
        transition: all 0.5s ease;
    }

    path:hover {
        background-color: linear-gradient(200deg, $colour-primary -5%, $colour-secondary 110%);
        opacity: 1;
      }
}

.fa-utensils, .fa-handshake-angle {
    margin-right: 10px;
}

.rectangle-new {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    height: 30px;
    background-color: $colour-tertiary;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    border-radius: 5px;

    color: #008766;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;

    @media screen and (min-width: 993px) {
        width: 35%;
    }
}

.fa-arrow-left {
    width: 17px;
    height: 16px;
}

.border {
    display: block;
    border: 2px solid $colour-tertiary;
    width: 40px;
    margin-bottom: 15px;
}

.fa-circle-check {
    color: #FFF;
    width: 20px;
    height: 20px;
}

.heart-icon {
    width: 22px;
    height: 22px;
    margin-right: 5%;

    fill: url('#myGradient');
    stroke: #101010;
    stroke-width: 1;

    fill-opacity: 0;
    
    transform-origin: 50% bottom;
    transition: fill-opacity 2s ease-in-out;

    &:hover {
        fill-opacity: 1;
      }
}