html {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
}

.container {
	max-width: 480px;
	margin: 0px auto 0px auto;

    @media screen and (min-width: 993px) {
        max-width: 1440px;
    }
}

a {
    text-decoration: none;
    color: #000000;
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
    margin-bottom: 7px;

    @media screen and (min-width: 993px) {
        margin-right: 40px;

        &:last-child {
            margin-right: 0px;
        }
    }
}

li > a {
    color: #FFFFFF;
}